.container{
    width: 100%;
}
.row1{
    width: 100%;
    display: flex; 
    background-color: #062D0C;  
}
.col{
    width: 50%;
     margin-top:30px;
     color: aliceblue;
}
.col ul li{
    display: inline;
    padding-left: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: aliceblue;
}
.col1{
    width:20%;  
}
.col1 img{
    width: 75px;
    height: 70px;
    border: 20px solid; 
    border-radius: 100px;
    border-color: #062D0C;
}
.col2{
    color: aliceblue; 
    margin-top: 2px;
}
.col2 h1{
    border-bottom-style: solid;
}
.col2 p{
    margin-top:1px;
    margin-bottom: 10px;   
}
.row2{
    width:100%;
    background-color: #062D0C;
    margin-top: 20px;
    display: flex;
     color: aliceblue;
}
.col3{
    width: 25%;
}
.col3 img{
    width: 150px;
    height: 150px;
    border: 20px solid; 
    border-radius: 100px;
    border-color: #062D0C;
}
.col4{
    width: 25%;
    height: 100px;
    margin-top: 50px;
}
.col4 h{
   text-align: center;
   width: 50px;
   border-bottom-style: solid;
}
.col4 p{
    padding: 2px;
}
.col5{
    width: 25%;
}
.col5 img{
    width: 150px;
    height: 150px;
    border: 20px solid; 
    border-radius: 100px;
    border-color: #062D0C;
}
.col6{
    width: 25%;
    height: 100px;
    margin-top: 50px;
}
.col6 h{
   text-align: center;
   width: 50px;
   border-bottom-style: solid;
}
.col6 p{
    padding: 2px;
}
.row3{
    width:100%;
    background-color: #062D0C;
    display: flex;
     color: aliceblue;
}
.col7{
    width: 25%;
}
.col7 img{
    width: 150px;
    height: 150px;
    border: 20px solid; 
    border-radius: 100px;
    border-color: #062D0C;
}
.col8{
    width: 25%;
    height: 100px;
    margin-top: 50px;
}
.col8 h{
   text-align: center;
   width: 50px;
   border-bottom-style: solid;
}
.col8 p{
    padding: 2px;
}
.col9{
    width: 25%;
}
.col9 img{
    width: 150px;
    height: 150px;
    border: 20px solid; 
    border-radius: 100px;
    border-color: #062D0C;
}
.col10{
    width: 25%;
    height: 100px;
    margin-top: 50px;
}
.col10 h{
   text-align: center;
   width: 50px;
   border-bottom-style: solid;
}
.col10 p{
    padding: 2px;
}
.row4{
    width:100%;
    background-color: #062D0C;
    display: flex;
     color: aliceblue;
}
.col11{
    width: 25%;
}
.col11 img{
    width: 100px;
    height: auto;
    border: 20px solid; 
    border-radius: 100px;
    border-color: #062D0C;
}
.col12{
    width: 25%;
    height: 150px;
    margin-top: 30px;
}
.col12 h{
   text-align: center;
   width: 50px;
   border-bottom-style: solid;
}
.col12 p{
    padding: 2px;
}
.col13{
    width: 25%;
     margin-left: 0px;
    
}
.col13 img{
    width: 150px;
    height: 150px;
    border: 20px solid; 
    border-radius: 100px;
    border-color: #062D0C;
    margin-left: 30px;
}
.col14{
    width: 25%;
    height: 180px;
    margin-top: 30px;
}
.col14 h{
   text-align: center;
   width: 50px;
   border-bottom-style: solid;
}
.col14 p{
    padding: 1px;
}
.row5{
    width: 100%;
     background-color:#0e3e2e;
      display: flex;
}
.col15{
    width: 200px;
    background-color: #F5F0EA;
    margin-left: 40px;
}
.col15 img{
    width: 130px;
    height: 130px;
    border: 10px solid;
    border-radius: 80px;
    border-color: aliceblue;
    margin-left: 35px;
}
.col16 {
    margin-left:40px;
}
.col17{
    width: 200px;
    background-color: #F5F0EA;
    margin-left: 40px;
   
}
.col17 img{
    width: 130px;
    height: 130px;
    border: 10px solid;
    border-radius: 80px;
    border-color: aliceblue;
    margin-left: 35px;
}
.col18 {
    margin-left:40px;
}
.col19{
    width: 200px;
    background-color: #F5F0EA;
    margin-left: 40px;
   
}
.col19 img{
    width: 130px;;
    height: 130px;
    border: 10px solid;
    border-radius: 80px;
    border-color: aliceblue;
    margin-left: 35px;
}
.col20 {
    margin-left:35px;
}
.col23{
     width:auto;
    height: auto;
    background-color: #F5F0EA;
    margin-left: 40px;
   
}
.col23 img{
    width: 130px;
    height: 130px;
    border: 10px solid;
    border-radius: 80px;
    border-color: aliceblue;
    margin-left: 35px;
}
.col24 {
    margin-left:35px;
}
.row11{
    width: 100%;
    background-color:#062D0C;
   
}
.col21{
    display: flex;
    margin-left: 50px; 
}
.col21 h{
    margin-top: 25px;
    margin-left: 30px;
    font-size: 25px;
    color:#F5F0EA;
}
.img1{
    background-color:#0e3e2e;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-top: 30px;
}
.img2{
    background-color:#0e3e2e;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-top: 30px;
    border:1px solid;
    border-radius: 15px;
    border-color:#0e3e2e;
}
.img3{
    background-color:#0e3e2e;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-top: 30px;
    border:1px solid;
    border-radius: 15px;
    border-color:#0e3e2e;
}
.img4{
    background-color:green;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-top: 30px;
    border:2px solid;
    border-radius: 5px;
    border-color:#0e3e2e;
}
.img5{
    background-color:green;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-top: 30px;
    border:2px solid;
    border-radius: 5px;
    border-color:#0e3e2e;
}
.h8{
 margin-top: 70px;
 margin-left: 30px;
}
.row12{
    width: 100%;
    background-color:#062D0C;
     height: 50px;
}
 .h8{
    margin-top: 30px;
    margin-left: 250px;
     color: #F5F0EA;
     font-size: 20px;
}

