.container{
    width: 100%;   
}
.row1{
    width: 100%;
    display: flex;
}
.col1{
    width: 10%;
}
.col1 img{
    width: 100px;
    height:100px;
    padding: 5px;
}
.col2{
    width: 50%;
     margin-top:30px;
}
.col2 ul li{
    display: inline;
    padding-left: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:#062D0C;
}
.col3{
    display: inline;
    width: 40%;
    margin-top: 35px; 

}
.col3 button{
    border-radius: 15px;
    padding: 8px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.bu1{
    background-color: black;
    color: aliceblue;
    width: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.row2{
    width:100%;
    height: 100px;
    background-color:rgb(36, 66, 2);
    font-size: large;
    color: aliceblue;
}
.col4{
    top: 450px;
    margin-left: 320px;
    padding: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.col4 button{
    border-radius: 30px;
    padding: 12px;
     margin-left: 10px;
     width: 120px;
     height: 40px;
     font-size:15px;
     background-color:rgb(36, 66, 2);
     border-color: aliceblue;
     color: aliceblue;
}
.row3{
    width: 100%;
    display: flex;
    background-color:#F5F0EA;   
     margin-top: 30px; 
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.col5{
    width: 70%;
    margin-top: 20px;  
    margin-bottom: 20px; 
}
.col5 img{
    width: 450px;
    height: 250px;
}
.col6{
    width: 50%;
    margin-top: 25px;
    margin-left: 25px;
}
.h1{
    font-size: 19px;
     text-align: center;
     line-height: 1.85;
     margin-left: 50px;
     margin-bottom: 10px;
    color:rgb(36, 66, 2);
    width: 10%;
    padding: 0px 60px 0px 60px;
}
.p1{
    padding: 0px 10px;
    padding-left: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 1.55;
    margin-left: 20px;
    font-weight: 300;
    margin-bottom: 35;
    color:rgb(36, 66, 2);
    width: 70%;
    height: 40%;
}
.col6 button{
    border-radius: 40px;
    color:aliceblue;
    padding: 6px;
    font-weight: bold;
    margin-left: 145px;
    margin-top: 2px;
    width: 100px;
    margin-bottom: 40px; 
    background-color:rgb(36, 66, 2);  
}
.col6 span{
    margin-left: 165px;
}
.row4{
    width: 100%;
     display: flex;
     margin-top: 30px;
     margin-bottom: 20px;
     background-color:rgb(36, 66, 2); 
}
.col7{
    width: 50%; 
    margin-top: 20px; 
}
.col8{
    width: 50%;
}
.h2{
    font-size: 25px;
     text-align: center;
     line-height: 1.85;
     margin-left: 80px;
    color:aliceblue;
    width: 20%;
    padding: 0px 60px 0px 60px;
}
.p2{
    padding: 10px 10px;
    padding-left: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 1.55;
    margin-left: 25px;
    font-weight: 300;
    margin-bottom: 35px;
    color:aliceblue;
    width: 70%;
    height: 40%;
}
  .col8 img{
        width: 100%;
        height: 300px;
        margin-top: 5px ;
        margin-bottom: 10px;
}
.col7 button{
    border-radius: 40px;
    color:aliceblue;
    padding: 6px;
    font-weight: bold;
    margin-left: 180px;
    margin-top: 5px;
    width: 100px;
    margin-bottom: 40px;
    background-color: rgb(36, 66, 2);
}
.row5{
    width: 100%;
    display: flex;
    margin-top: 30px;
    background-color:rgb(36, 66, 2) ;
}
.col9{
    width: 50%;
}
.col10{
    width: 50%;
    margin-top: 20px; 
}
.col9 img{
        width: 100%;
        height: 335px;
        margin-top: 20px;
        background-color: blue;
}
.h3{
     font-size: 25px;
     text-align: center;
     line-height: 1.85;
     margin-left: 95px;
     margin-top: 10px;
    color:aliceblue;
    width: 30%;
}
.p3{
    padding: 0px 10px;
    padding-left: 60px;
    font-size: 20px;
    text-align: center;
    line-height: 1.65;
    margin-left: 25px;
    margin-right: auto;
    font-weight: 300;
    margin-bottom: 30px;
    color:aliceblue;
    width: 60%;
    height: 40%;
}
.col10 button{
    border-radius: 40px;
    color:aliceblue;
    padding: 6px;
    font-weight: bold;
    margin-left: 180px;
    margin-top: 10px;
    width: 100px;
    margin-bottom: 0px;
    background-color: rgb(36, 66, 2)
}
.row6{
    width: 100%;
    display: flex;
    background-color:rgb(209, 212, 164);
    margin-top: 30px;
}
.col11{
    width: 50%;
     margin-top: 20px;
}
.col12{
    width: 50%;
}
.col12 img{
        width: 100%;
        height: 335px;
        margin-top: 5px;
}
.h4{
     font-size: 22px;
     text-align: center;
     font-weight: bold;
     line-height: 1.85;
     margin-left: 95px;
     margin-top: 10px;
     color:rgb(31, 50, 11);
    width: 30%;
}
.p4{
    padding: 0px 10px;
    padding-left: 60px;
    font-size: 20px;
    text-align: center;
    line-height: 1.65;
    margin-left: 10px;
    margin-right: auto;
    font-weight: 300;
    margin-bottom: 30px;
    color:rgb(31, 50, 11);
    width: 60%;
    height: 40%;
}
.col11 button{
    border-radius: 40px;
    color:aliceblue;
    padding: 6px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 40px;
    width: 250px;
    margin-bottom: 0px;
    background-color: rgb(36, 66, 2)
}
.row7{
    width: 100%;
    display: flex;
    background-color: rgb(239, 235, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
}
.col13{
    width:50%;
}
.col14{
    width:50%;
    margin-top: 20px;
}
.col13 img{
        width: 100%;
        height: 320px;
        margin-top: 5px;
}
.h5{
     font-size: 20px;
     text-align: center;
     font-weight: bold;
     line-height: 1.85;
     margin-left: 90px;
     margin-top: 10px;
     color:rgb(47, 83, 8);
     width: 30%;
}
.col14 span{
    margin-left: 160px;
}
.p5{
    padding: 0px 10px;
    padding-left: 90px;
    font-size: 18px;
    text-align: center;
    line-height: 1.65;
    margin-left: 10px;
    margin-right: auto;
    font-weight: 300;
    margin-bottom: 30px;
    color:rgb(47, 83, 8);
    width: 60%;
    height: 40%;
}
.col14 button{
    border-radius: 40px;
    color:aliceblue;
    padding: 6px;
    font-weight: bold;
    margin-left: 180px;
    margin-top: 20px;
    width: 130px;
    margin-bottom: 0px;
    background-color: rgb(36, 66, 2)
}
.row8{
    display: flex;
    width: 100%;
    margin-top: 30px;
     background-color: rgb(36, 66, 2)
}
.col15{
    width: 50%;
}
.col16{
    width:50%
}
.col16 img{
        width: 100%;
        height: 420px;
        margin-top: 5px;
}
.h6{
     font-size: 35px;
     text-align: center;
     font-weight: bold;
     line-height: 1.85;
     margin-left: 140px;
     margin-top: 10px;
     color:aliceblue;
     width: 30%;
}
.col15 span{
    margin-left: 160px;
}
.p6{
    padding: 0px 0px;
    padding-left: 60px;
    font-size: 24px;
    text-align: center;
    line-height: 1.65;
    margin-left: 20px;
    margin-right:60px;
    font-weight: 300;
    margin-bottom: 30px;
    color:aliceblue;
}
.col15 button{
    border-radius: 40px;
    color:rgb(3, 57, 12);
    padding: 6px;
    font-weight: bold;
    margin-left: 180px;
    margin-top: 0px;
    width: 130px;
    margin-bottom: 0px;
    background-color: rgb(252, 253, 251)
}
.row9{
    width: 100%;
    display: flex;
   margin-top: 30px;
   background-color: #006342;
}
.col17{
    width: 50%;
}
.col17 img{
        width: 100%;
        height: 200px;
        margin-top: 5px;
}
.col18{
    width: 50%;
    margin-top: 30px;
}
.p7{
    padding: 0px 10px;
    padding-left: 90px;
    font-size: 18px;
    text-align: center;
    line-height: 1.65;
    margin-left: 10px;
    margin-right: auto;
    font-weight: 300;
    margin-bottom: 30px;
    color:rgb(253, 254, 255);
    width: 60%;
    height: 40%;
}
.row10{
    width: 100%;
    background-color: #006342;
    margin-top: 30px;
    color: #FFFFFF;
}
.col19{
    width: 50px;
    display: inline;
    margin-top: 25px;
    margin-left: 30px;
    font-size: 23px;
}
.h7{
    font-size: 30px;   
}
.col19 p{
    margin-left: 30px;
    margin-top: 5px;
}
.col19 img{
    width: 30px;
    height: 30px;
    margin: left 30px;
    margin-top: 30px;
}
.col20 h{
       margin-top: 30px;
       font-size: 25px;
       margin-left: 60px;
       color:#FEC72F;
}
.col20 ul li{
       padding: 10px;
       display: inline;
       font-size: 23px;
       margin-left: 40px;      
} 
.col20{
    height: 130px;
}
.row11{
    width: 100%;
    background-color:#062D0C;
    height: 100px;
   
}
.col21{
    display: flex;
    margin-left: 50px; 
}
.col21 h{
    margin-top: 25px;
    margin-left: 30px;
    font-size: 25px;
    color:#F5F0EA;
}
.img1{
    background-color:#0e3e2e;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-top: 30px;
}
.img2{
    background-color:#0e3e2e;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-top: 30px;
    border:1px solid;
    border-radius: 15px;
    border-color:#0e3e2e;
}
.img3{
    background-color:#0e3e2e;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-top: 30px;
    border:1px solid;
    border-radius: 15px;
    border-color:#0e3e2e;
}
.img4{
    background-color:green;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-top: 30px;
    border:2px solid;
    border-radius: 5px;
    border-color:#0e3e2e;
}
.img5{
    background-color:green;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-top: 30px;
    border:2px solid;
    border-radius: 5px;
    border-color:#0e3e2e;
}
.h8{
 margin-top: 70px;
 margin-left: 30px;
}
.row12{
    width: 100%;
    background-color:#062D0C;
     height: 50px;
}
 .h8{
    margin-top: 30px;
    margin-left: 250px;
     color: #F5F0EA;
     font-size: 20px;
}

